<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjr.springboottest.mapper.AccountMapper">

    <insert id="addNewAccount">
        INSERT INTO db_account (email, username, password, role)
        VALUES (#{email}, #{username}, #{password}, #{role})
    </insert>

    <select id="findByUsername" resultType="com.yjr.springboottest.entity.Account">
        SELECT *
        FROM db_account
        WHERE username = #{username}
    </select>

</mapper>